In [59]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_excel(r'Planilhas de Dados/24.04.xlsx')
df.head()

,vehicle_id,vehicle_current_status,patent,vehicle_model,vehicle_type,kilometer,latitude,longitude,zone_name
0,12,ACTIVE,HKQ6C99,Fiorino,Cargo,2090.41,-23.630684,-46.699818,Pare na Rua
1,19,ACTIVE,BNI7Q48,Fiorino,Cargo,217.11,-23.620918,-46.685555,Pare na Rua
2,20,ACTIVE,KIQ2T57,Tracker,SUV,265.11,-23.627500,-46.669334,Pare na Rua
3,21,ACTIVE,FRB5B87,Fiorino,Cargo,389.96,-23.603878,-46.658375,Atlas- Moema
4,22,ACTIVE,BBC8E14,Fiorino,Cargo,545.40,-23.549618,-46.615220,Trevo - Rua Alegria

In [18]:
print(f'As dimensões do dataframe são:\n Linhas: {df.shape[0]}\n Colunas: {df.shape[1]}\n')

colunas = df.columns.to_list()
print(f'Nome das colunas:')
for coluna in colunas:
    print(' ' + coluna)

As dimensões do dataframe são:
 Linhas: 170
 Colunas: 9

Nome das colunas:
 vehicle_id
 vehicle_current_status
 patent
 vehicle_model
 vehicle_type
 kilometer
 latitude
 longitude
 zone_name

In [35]:
df.isnull().sum()

vehicle_id                0
vehicle_current_status    0
patent                    0
vehicle_model             0
vehicle_type              0
kilometer                 0
latitude                  0
longitude                 0
zone_name                 1
dtype: int64

In [43]:
df = df.fillna('Pare na Rua')

In [44]:
df.isnull().sum()

vehicle_id                0
vehicle_current_status    0
patent                    0
vehicle_model             0
vehicle_type              0
kilometer                 0
latitude                  0
longitude                 0
zone_name                 0
dtype: int64

In [37]:
df.dtypes

vehicle_id                  int64
vehicle_current_status     object
patent                     object
vehicle_model              object
vehicle_type               object
kilometer                 float64
latitude                  float64
longitude                 float64
zone_name                  object
dtype: object

In [53]:
carros = df.vehicle_model.unique().tolist()
print(f'Os carros desse dataframe são: {carros}')
contagem_modelos = df.groupby('vehicle_model').vehicle_id.count().reset_index()
contagem_modelos

Os carros desse dataframe são: ['Fiorino', 'Tracker', 'Stonic', 'Onix']

  vehicle_model  vehicle_id
0       Fiorino          27
1          Onix          86
2        Stonic          30
3       Tracker          27

In [57]:
categoria_carros = df.vehicle_type.unique().tolist()
print(f'As categorias dos carros disponiveis são: {categoria_carros}')

contagem_categorias = df.groupby('vehicle_type').vehicle_id.count().reset_index()
contagem_categorias

As categorias dos carros disponiveis são: ['Cargo', 'SUV', 'Hybrid', 'Top Sedan']

  vehicle_type  vehicle_id
0        Cargo          27
1       Hybrid          30
2          SUV          27
3    Top Sedan          86

In [31]:
carros_unicos = df.vehicle_id.unique().tolist()
print(f'O número de carros únicos são: {len(carros_unicos)}')

O número de carros únicos são: 170

In [71]:
contagem_modelos = contagem_modelos.sort_values(by=['vehicle_id'], ascending=False).reset_index()
plt.figure(figsize=(15,4))
sns.barplot(x='vehicle_model', y='vehicle_id', data=contagem_modelos, palette='Blues')
plt.title('Carros no dataset')
plt.show()

ValueError: cannot insert level_0, already exists